table {
	text-align: center;
}

.detailsControl {
	font-weight: bold;
}
.mainDiv {
	display: inline-block;
}

.replyCommentDiv {
	border: red 1px dashed;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.postInfo {
	margin: 3px;
}

.commentDiv:hover{
	background: lightgray;
}

.replyCommentDiv:hover {
	background: gray;
}

.postMessage, .commentMessage {
	margin: 5px;
}

.postInfo, .commentLikes {
	font-weight: bold;
}

#display {
	margin: auto;
}

#index {
	width: 35%;
}

#postDiv {
	border: blue 1px dashed;
	border-radius: 10px;
	padding: 10px;

	margin: 5px;
}

#commentsDiv {
	border: green 1px dashed;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

#commentsDiv > div{
	border: gray dotted 2px;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}
